body {
	background-color:#DA9C45 ;
	font-family: Georgia;
	color: black;
}

img {
	height:120px;
}

.header {
	background-image: url(vn.jfif);
	box-shadow: 4px 4px 8px black;
	background-position: center;
	background-size: cover;
	text-align: center;
	padding:20px;
}

.container {
	background-color: saddlebrown;
	color:burlywood;
	box-shadow: 4px 4px 8px black;
	text-align: center;
	position: center;
	border-radius: 8px;
	padding:10px;
}

